<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } else if(successMessage) { %>
        <div class ="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <div class="login-form">
            <form action="/signup", method="POST" novalidate>
              <h1>Register</h1>
              <div class="content">
                <div class="input-field">
                  <input 
                  class="<%= validationErrors.find(e => e.path === 'username') ? 'invalid' : '' %>"
                  type="text" name="username" placeholder="Username" autocomplete="nope" value="<%= oldInput.username %>">
                </div>
                <div class="input-field" >
                  <input 
                  class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
                  type="email" name="email" placeholder="Email" autocomplete="nope" value="<%= oldInput.email %>">
                </div>
                <div class="input-field">
                  <input 
                  class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
                  type="password" name="password" placeholder="Password" autocomplete="new-password" value="<%= oldInput.password %>">
                </div>
                <div class="input-field">
                  <input 
                  class="<%= validationErrors.find(e => e.path === 'confirmPassword') ? 'invalid' : '' %>"
                  type="password" name="confirmPassword" placeholder="Confirm password" autocomplete="new-password" value="<%= oldInput.confirmPassword %>">
                </div>
              </div>
              <div class="action">
                 <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit">Register</button>
              </div>
            </form>
          </div>
    </main>

<%- include('../includes/end.ejs') %>