<%- include('../includes/head.ejs') %>
<<<<<<< HEAD
  <link rel="stylesheet" href="/css/post.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="post-form">
            <form action="/post", method="POST">
              <h1>Your Post</h1>
              <div class="content">
                <div class="input-field">
                  <textarea name="content" rows="10" cols="55" placeholder="Write your post..."></textarea>
                </div>
              </div>
              <div class="action">
                 <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit">Post</button>
              </div>
            </form>
          </div>
    </main>
=======
  </head>
  
  <body>
    <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>Post</h1>
  </main>
>>>>>>> main
<%- include('../includes/end.ejs') %>